boto3>=1.17.22
botocore
docker
flake8
parameterized
pydocstyle
flake8-annotations
sphinx
sphinx_rtd_theme
darglint
pre-commit
boto3-stubs[dynamodb]
mypy==0.910
typing_extensions; python_version < "3.8.0"
jinja2
boto3-stubs
gremlinpython
pytest
moto
graphviz
